.Layout {
	height: 100%;
    box-sizing: border-box; /* fix css size buf/feature.... */
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6, 1fr); /* 1fr 1fr 1fr 1fr 1fr 1fr */
}

.Layout>header, .Layout>footer{
    grid-column: span 6;
}
.Layout>main{
    grid-column: span 5;
}
.Layout, .Layout>*{
    border: 1px solid black;
}